<link rel="shortcut icon" href="/assets/gamer.svg" type="image/svg">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poly&family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/styles/global.css">
<link rel="stylesheet" href="/styles/header.css">
<link rel="stylesheet" href="/styles/nav.css">
<link rel="stylesheet" href="/styles/home.css">
<link rel="stylesheet" href="/styles/profile.css">
<link rel="stylesheet" href="/styles/projects.css">
<link rel="stylesheet" href="/styles/project.css">
<link rel="stylesheet" href="/styles/forum.css">
<link rel="stylesheet" href="/styles/media.css">
<link rel="stylesheet" href="/styles/modal.css">
<link rel="stylesheet" href="/styles/register.css">


