<aside class="menu">
    <nav>
        <ul>
            <a href="/"><li>Home</li></a>
            <a href="/profile"><li>Meu Perfil</li></a>
            <a href="/discover"><li>Publicações</li></a>
            <a href="/forum"><li>Fórum</li></a>
        </ul>
    </nav>
</aside>