{% extends "layout.njk" %}

{% block page %} 
<h1>Home</h1>
{% endblock page%}

{% block content %}
<div class="container container-home">
    <div class="info">
        <h1>Bem vindo à <strong>D.G.I</strong></h1>
        <p>Aqui na DGI você pode publicar seus projetos e ser notado por milhares de pessoas.</p>
        <a href="#">Começar Agora</a>
    </div>
    <aside class="about">
        <h2>Sobre nós</h2>
        <p>Nós da D.G.I trabalhamos para ajudar os desenvolvedores independentes e promover interação na comunidade de devs e gamers interessados na área</p>
        <div class="contact">
            <h4>Como falar com a gente?</h4>
            <p>DGIdevelopers@gmail.com</p>
            <p>+55 37 99904-8651</p>
        </div>
    </aside>
</div>



{% endblock content %}