{% extends "layout.njk" %}

{% block page %} 
<script src="/perfil.js"></script>
<h1>Meu Perfil</h1>
{% endblock page%}

{% block content %}
<div class="container container-profile">
    <div class="profile">
        <div class="profile-first-part">
            <div class="profile-image">
                <img src="./assets/profile.jpg" alt="">
            </div>
            <div class="profile-role">
                <button class="dev" type="button">
                    <div class="content">
                        <img src="./assets/dev.svg" alt="">
                        <p>Desenvolvedor</p>
                    </div>
                </button>
                <button class="dev" type="button">
                    <div class="content">
                        <img src="./assets/investor.svg" alt="">
                        <p>Investidor</p>
                    </div>
                </button>
                <button class="player" type="button">
                    <div class="content">
                        <img src="./assets/gamer.svg" alt="">
                        <p>Gamer</p>
                    </div>

                </button>
            </div>
        </div>
        <div class="profile-second-part">
            <div class="name field">
                <h1 id="nameUser">Lucas Monteiro</h1>
                <button id="edit">Editar Perfil</button>
            </div>
            <div class="email field">
                <p>Email</p>
                <span id="emailInput"></span>
            </div>
            <div class="about field">
                <p>Sobre Você</p>
                <span id="sobreInput"></span>
            </div>

        </div>
    </div>
    <div class="projects">
        <h3>Últimos Projetos</h3>
        <div class="projects-show">
            {% for project in projects %}
            <div class="project">
                <div class="project-img">
                    <a href="#">
                        <img src="{{project.image}}" alt="">
                    </a>
                </div>
                <div class="project-info">
                    <p><strong>{{project.title}}</strong></p>
                    <p><strong>Data:</strong>  {{project.date}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>



{% endblock content %}