.container-profile{
    display:grid;
    grid-template-columns: 1fr 210px;
    width:100%;
}

.profile{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(240px,1fr));
    width: 100%;
    align-items: center;
}

.profile-first-part{
    display:grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
}

.profile-image{
    border-radius: 50%;
    width: 35%;
    height: 155px;
    display:flex;
    justify-self: center;
    border: 4px solid var(--green);
    min-width: 160px;
}

.profile-image img{
    border-radius: 50%;

    width: 100%;
    height: 100%;
}


.profile-role{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-self: center;    
}

.profile-role button{
    padding: 1.6rem 3.2rem;
    border-radius: 8px;
    margin-bottom: 1.6rem;
    width: 60%;
    border: 1.8px solid var(--text);
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:all 300ms ease;
    min-width: 160px;
}

button .content{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
}

.profile-role button.actived{
    border-color: var(--green);
}

.profile-role button p{
    color: var(--text);
    font-size: 1.4rem;
    font-weight: 500;
    width: 100%;
}

.profile-role button img{
    width: 36px;
    height: 28px;
}


.profile-second-part {
    display: grid;
    grid-template-rows: repeat(3,120px);
    align-self: flex-start;

}

.profile-second-part h1{
    display: flex;
    margin-top: 1.2rem;
}

.profile .field{
    font-size: 1.6rem;
    color: var(--purple);
}

.name.field{
    display: grid;
    grid-template-columns: .5fr 1fr;
    gap: 2.4rem;
    align-items: center;
    justify-content: space-between;
}

.buttons-field{
    display: flex;
    align-items: center;
    justify-self: flex-end;
    justify-content: space-between;
    margin-right: 4.2rem;
    width: 100%;
    gap: 2.4rem;
}

.name.field h1{
    color:var(--purple);
    font-size: 2.4rem;
}

.buttons-field .button.exit{
    background:var(--green);
}


.name.field a,.button.exit{
    padding: .8rem 1.6rem;
    font-size: 1.4rem;
    background: var(--purple);
    color: var(--background);
    font-weight: 600;
    border-radius: 4px;

    opacity: 1;
    transition:all 300ms ease;
    text-align: center;
    width: 100%;
    min-height: 40px;
    max-height: 40px;

    max-width: 120px;
}

.name.field a:hover{
    filter: brightness(85%);

}

.profile .about.field textarea{
    height: 240px;
}

.field textarea,
.field input{
    width: 90%;
    border-radius: 8px;
    padding: 1.2rem 2.4rem;
    margin-top: 1.2rem;
    outline:none;
    border: 1px solid #363F5F;
}



.container-profile .projects,
.container-profile .profile{
    padding:3.2rem 0;
    justify-content:center;
    width: 100%;
}

.container-profile .projects{
    background: #e7e7e7;
    display: flex;
    flex-direction: column;
}

.container-profile .projects h3{
    font-size: 1.6rem;
    color: var(--purple);
    align-self: center;
}

.projects .projects-show{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 2.4rem;
    margin-top: 1.2rem;
    align-items: center;
    justify-content:center;
}

.projects .projects-show .project{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content:center;
    position: relative;
}

.project:nth-child(3)::after{
    visibility: hidden;
    display:none;
}

.project::after{
    content:"";
    position: absolute;
    left: 0;
    bottom: -1.2rem;
    width: 100%;
    background: var(--purple);
    height: 2px;
}

.project-img{
    display: flex;
    justify-content: center;
    width: 90%;
    align-items: center;
}

.project-img img{
    width: 100%;
    border-radius: 8px;
}

.project-info{
    margin-top: 1.2rem;
    display: flex;
    width:90%;
    justify-content: space-between;
    justify-self: center;
}

.project-info p{
    color: rgb(65, 62, 62);
    font-size: 1.1rem;
}
