.container.container-register{
    padding: 3.2rem 2.4rem;
    display:flex;
    justify-content:center;
}

.container-register form{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--purple);
    border: 3px solid var(--green);
    border-radius: 0.25rem;
    padding: 2.4rem 1.2rem;
}

.container.container-register.login form{
    height: 100%;
    align-self: center;
    width: 80%;
    justify-content:center;
}

.container-register form .header{
    display:flex;
    justify-content:space-between;
    width: 90%;
}
.container-register form .header button{
    background-color: var(--green)
}

.container-register form h2{
    font-size: 2.8rem;
    color: var(--background);
}

.container-register form .inputs{
    width: 90%;
    margin-top: 2.4rem;
    justify-content: center;
    display:flex;
    flex-direction: column;
}

.container-register form .inputs .input{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1rem;
}

.container-register form .inputs .input label{
    font-size: 1.4rem;
    color: var(--background);
    font-weight: 600;
    margin-bottom: .4rem;
}

.container-register form .inputs input,
.container-register form .inputs .input textarea
{
    padding: 1.2rem 2.4rem;
    background: #f8f8f8;
    border-radius: 0.25rem;
}


.container-register form .inputs .input textarea{
    height:80px
}